<div class="mx-auto md:w-2/6 w-full">
  <% if alert = flash[:alert] %>
    <p class="py-2 px-3 bg-red-50 mb-5 text-red-500 font-medium rounded-lg inline-block" id="alert"><%= alert %></p>
  <% end %>

  <% if notice = flash[:notice] %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>


  <div class="card p-4">

  <h1 class="font-bold text-4xl text-center">Hello TeBook</h1>

  <%= form_with url: session_url, class: "contents" do |form| %>
    <div class="my-5">
      <%= form.email_field :email_address, required: true, autofocus: true, autocomplete: "username", placeholder: "Enter your email address", value: params[:email_address], class: "input" %>
    </div>

    <div class="my-5 relative">
      <%= form.password_field :password, required: true, autocomplete: "current-password", placeholder: "Enter your password", maxlength: 72, class: "input pr-10", id: "password-field" %>
    </div>
  <div class="flex justify-between items-center">
    <div class="col-span-6 sm:flex sm:items-center sm:gap-4">
      <div class="inline">
        <%= form.submit "Iniciar sesión",
        class: "button",
        id: "login-button",
        data: {
          turbo_submits_with: "Cargando..."
        }
        %>
      </div>
      <div class="mt-4 text-sm text-gray-500 sm:mt-0">
        <%= link_to "Olvidaste tu contraseña?", new_password_path, class: "text-gray-700 underline hover:no-underline" %>
      </div>   
    </div>
  </div>

  </div>


  <% end %>
</div>