<!-- Actualiza la lista de tareas -->
<%= turbo_stream.update "#{dom_id(@todo)}_tasks" do %>
  <%= render 'todos/todo_item', tasks: @todo.tasks.where(done: false), todo: @todo %>
  <%= render 'todos/todo_item', tasks: @todo.tasks.where(done: true).order(updated_at: :desc).limit(5), todo: @todo %>

   <% if @todo.tasks.where(done: true).count > 5 %>
      <li class="flex items-center mb-2">
        <span class="bg-gray-500 rounded-full w-3 h-3 inline-block mr-2">
        </span>
        <%= link_to 'Ver más', completed_tasks_project_todo_path(@project, @todo), class:"text-gray-800 text-sm font-semibold underline cursor-pointer", data: { turbo_frame: "_top"} %>
      </li>
    <% end %>
<% end %>
<!-- Actualiza el contador de tareas -->
<%= turbo_stream.update "#{dom_id(@todo)}_header" do %>
  <span class="text-gray-500 text-xs"> <%= @todo.tasks.where(done: true).count %> / <%= @todo.tasks.count %> </span>
<% end %>
<!-- Restaura el enlace de "Agregar tarea" -->
<%= turbo_stream.update "#{dom_id(@todo)}_task_form" do %>
  <footer class="mt-4">
    <%= link_to 'Agregar tarea', new_project_todo_task_path(@project, @todo), 
        data: { turbo_frame: "#{dom_id(@todo)}_task_form" }, 
        class: "button-outline mt-4" %>
  </footer>
<% end %>