<div>
  <div class="card max-w-[95%] mx-auto mb-[-10px] p-4">
    <% if params[:from] == 'board' %>
      <div class="flex items-center">
        <%= link_to :back, class: "inline-flex items-center gap-2 px-4 py-2 text-gray-700 hover:text-blue-600 hover:bg-gray-50 rounded-lg transition-colors font-medium" do %>
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M5 12l14 0" /><path d="M5 12l6 6" /><path d="M5 12l6 -6" /></svg>
          Volver al tablero
        <% end %>
      </div>
    <% else %>
      <%= render 'tasks/bread_crumbs'%>
    <% end %>
  </div>
  <div class="card py-4 px-2">
    <div class="flex justify-end items-center px-4">
      <%= link_to 'Delete',  project_todo_task_path(@project, @todo, @task), class: 'text-purple-500 underline', data: {
        turbo_method: :delete,
        turbo_confirm: '¿Estás seguro de que quieres eliminar esta tarea?'
      } %>
    </div>
    <%= turbo_frame_tag "#{dom_id(@task)}_show" do %>
      <%= render 'tasks/tasks_info', task: @task %>
    <% end %>
    <section class="md:max-w-4xl m-auto mt-4">
      <%= render 'tasks/comments/form' %>
      <%= render 'tasks/comments/list' %>
    </section>
  </div>
</div>