<%= form_with(model: document, class: "contents", url: document.persisted? ? document_path(document) : project_documents_path(@project)) do |form| %>
  <% if document.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-md mt-3">
      <h2><%= pluralize(document.errors.count, "error") %> prohibited this document from being saved:</h2>
      <ul class="list-disc ml-6">
        <% document.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
    <div class="card max-w-[95%] mx-auto mb-[-10px] p-4">
      <div class="flex items-center justify-center">
         <%= form.text_field :title, class: "document_input",  placeholder: "Escribe un titulo", autofocus: true %>
      </div>
    </div>
    <div class="card py-6 px-16 mb-4">
      <%= form.rich_text_area :body, class: 'textarea', placeholder: "Escrite tu documento aqui...", data: { controller: "trix" } %>
    </div>

  <div class="inline">
    <%= form.submit "Guardar", class: "button" %>
  </div>
<% end %>
