<% content_for :title, @document.name %>

<div class="app_container">
  <div class="main_header">
    <header>
      <h2 class="font-bold text-xl text-center">
        <%= link_to @project.title, project_path(@project), class: "underline font-semibold capitalize" %>
        <span>-</span>
        <%= link_to "Documentos", project_folders_path(@project), class: "underline font-semibold capitalize" %>
        <% if @document.folder %>
          <% @document.folder.path.each do |parent| %>
            <span>-</span>
            <%= link_to parent.name, project_folder_path(@project, parent), class: "underline font-semibold" %>
          <% end %>
        <% end %>
      </h2>
    </header>
  </div>
  <div class="main_content">
    <div class="relative">
      <h1 class="font-bold text-4xl text-center">
        <%= @document.name %>
      </h1>
      <div class="absolute top-4 right-4 flex gap-2">
        <%= link_to "Editar", edit_document_path(@document), class: "text-sm text-gray-500 hover:text-gray-700" %>
        <% if @document.file.attached? %>
          <%= link_to "Descargar", download_document_path(@document), class: "text-sm text-blue-500 hover:text-blue-700" %>
        <% end %>
      </div>
    </div>
    <hr class="max-w-[100px] mx-auto text-gray-300">
    <div class="text-center my-2">
      <% if @document.created_by %>
        <%= @document.created_by.full_name %> -
      <% end %>
      <%= l(@document.created_at, format: :long) %>
    </div>

    <% if @document.document_type == "file" && @document.file.attached? %>
      <div class="text-center my-6">
        <div class="inline-block p-6 border border-gray-300 rounded-lg">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-16 w-16 text-gray-400 mx-auto mb-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 21h10a2 2 0 002-2V9.414a1 1 0 00-.293-.707l-5.414-5.414A1 1 0 0012.586 3H7a2 2 0 00-2 2v14a2 2 0 002 2z" />
          </svg>
          <p class="font-semibold text-lg"><%= @document.file.filename %></p>
          <p class="text-gray-500 text-sm"><%= number_to_human_size(@document.file.byte_size) %></p>
          <%= link_to "Descargar archivo", download_document_path(@document), class: "button mt-4" %>
        </div>
      </div>
    <% elsif @document.document_type == "document" %>
      <div class="prose max-w-none mt-6">
        <%= @document.body %>
      </div>
    <% end %>
  </div>
</div>
