<% if @project.errors.any? %>
  <div class="errors">
    <ul>
      <% @project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<%= form_with model: project , local:true do |form| %>
  <div class="mb-4">
    <%= form.label :title , class: "label"%>
    <%= form.text_field :title, class: "input", placeholder: "Title of project" %>
  </div>
  <div class="mb-4">
    <%= form.label :description, class: "label" %>
    <%= form.text_field :description, class:"input" , placeholder: "Type more info"%>
  </div>
  <%= form.submit "Guardar", class: "button" %>
<% end %>
