<% if project.errors.any? %>
  <div class="errors">
    <ul>
      <% project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= simple_form_for project do |f| %>
  <%= f.input :title, placeholder: "Titulo del proyecto" %>
  <%= f.input :description, placeholder: "Descripción del proyecto" %>
  <%= f.input :has_calendar, label: 'Tiene calendario', placeholder: "Descripción del proyecto" %>


  <%= f.button :submit, "Guardar",
        class: "button",
        id: "submit_project",
        data: { turbo_submits_with: "Guardando..." } %>

  <%= link_to "Cancelar", projects_path, class: "button-outline" %>
<% end %>
