<div>
  <div class="bg-white shadow-md rounded-2xl px-0 pt-6 pb-8 mb-4 sm:w-full md:w-5xl mx-auto">
    <h1 class="text-2xl text-center font-semibold"><%= @project.title %></h1>
    <section class="mt-4">
      <div class="grid grid-cols-3 divide-x divide-gray-300 justify-around gap-0 border-x-0 border border-gray-300 min-h-[150px]">
        <div>
          <%= render 'projects/messages_board' %>
        </div>
        <div>
          <%= render 'projects/todo'%>
        </div>
        <div>
          <%= render 'projects/docs' %>
        </div>
      </div>
    </section>
    <div class="flex items-center mt-6 gap-2 ml-4">
      <div class="mb-4">
        <%= link_to "Editar", edit_project_path(@project), class: "button is-primary" %>
      </div>
      <div class="mb-4">
        <%= button_to project_path(@project),
        method: :delete,
        form: { 
          data: { turbo_confirm: "Esta seguro " },
        },
        class: "button-outline" do %>
          Eliminar
        <% end %>
      </div>
    </div>
  </div>
</div>