<div>
  <div class="bg-white border border-gray-200 rounded-2xl px-0 pt-6 pb-8 mb-4 sm:w-full mx-auto">
    <div class="relative">
      <h1 class="text-2xl text-center font-semibold">
        <%= link_to @project.title, edit_project_path(@project) %>
      </h1>
      <div class="flex justify-center">
        <%= render 'project_member', project: @project %>
      </div>
      <div class="absolute top-0 left-4">
        <%= render 'projects/option_dropdown' %>
      </div>
    </div>
    <section class="mt-4">
      <div class="grid grid-cols-1 md:grid-cols-2 gap-0">
          <%= render 'projects/todo'%>
          <%= render 'projects/docs' %>
          <%= render 'projects/boards' %>
          <%= render 'projects/publications' %>
      </div>
    </section>
  </div>
</div>