<div>
  <div class="bg-white shadow-md rounded-2xl px-0 pt-6 pb-8 mb-4 sm:w-full md:w-5xl mx-auto">
    <div class="relative">
      <h1 class="text-2xl text-center font-semibold">
        <%= link_to @project.title, edit_project_path(@project) %>
      </h1>
      <div class="absolute top-0 left-4">
        <%= render 'projects/option_dropdown' %>
      </div>
    </div>
    <section class="mt-4">
      <div class="grid grid-cols-1 md:grid-cols-2 divide-gray-300 gap-0 border-x-0 border border-gray-300 min-h-[150px]">
          <%# <%= render 'projects/messages_board' %>
          <%= render 'projects/todo'%>
          <%= render 'projects/docs' %>
      </div>
    </section>
  </div>
</div>