<section class="p-4">
  <% @todos.each do |todo| %>
    <%= turbo_frame_tag dom_id(todo) do%>
      <article class="mb-4">
        <header class="pl-6">
          <span class="text-gray-500 text-xs"> <%= todo.tasks.where(done: true).count %> / <%= todo.tasks.count %> </span>
        </header>
        <div>
          <ul>
            <li class="flex items-center mb-2">
              <span class="bg-green-500 rounded-full w-5 h-5 inline-block mr-2">
              </span>
              <%= link_to todo.name, edit_project_todo_path(@project, todo) , class:"text-gray-800 text-lg font-semibold underline cursor-pointer" %>
            </li>
            <%= turbo_frame_tag "#{dom_id(todo)}_tasks" do %>
              <%= render 'todos/todo_item', tasks: todo.tasks, todo: todo%>
            <% end %>
          </ul>
          <%= turbo_frame_tag "#{dom_id(todo)}_task_form" do %>
            <footer class="mt-4">
              <%= link_to 'Agregar tarea', new_project_todo_task_path(@project, todo), 
                  data: { turbo_frame: "#{dom_id(todo)}_task_form" }, 
                  class: "button-outline mt-4" %>
            </footer>
          <% end %>
        </div>
      </article>
    <% end %>
  <% end %>
</section>
